<html>
    <head>
        <meta name="decorator" content="admin"/>
        <title>$i18n.getText("ru.andreymarkelov.templator.admin.adddata.title")</title>
        $webResourceManager.requireResource("andreymarkelov-atlas-plugins.templator:template-loader-resources")
    </head>
    <body class="aui">
        #if($action.hasAnyErrors())
            <div class="aui-message error">
                <span class="aui-icon icon-error"></span>
                #foreach($error in $action.getErrorMessages())
                <p><strong>$error</strong></p>
                #end
            </div>
        #end
        <form name="image-load-form" action="$action.getBaseUrl()/plugins/servlet/andreymarkelov/templateloader" method="post" enctype="multipart/form-data">
            <h2>$i18n.getText("ru.andreymarkelov.templator.admin.adddata.title")</h2>
            <h6>$i18n.getText("ru.andreymarkelov.templator.admin.templateproperties")</h6>
            <br/>
            <input type="hidden" id="id" name="id" value="$!action.getId()"/>
            <table width="100%">
                <tr>
                    <td><label for="projectkey"><strong>$i18n.getText("ru.andreymarkelov.templator.admin.project"):</strong></label></td>
                    <td>
                        <select id="projectkey" name="projectkey">
                            #foreach($project in $action.getProjects().entrySet())
                            <option #if($!data.getProjectKey() == $project.key)selected="selected"#end value="$project.key">$project.value</option>
                            #end
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="issuetype"><strong>$i18n.getText("ru.andreymarkelov.templator.admin.issuetype"):</strong></label></td>
                    <td>
                        <select id="issuetype" name="issuetype">
                            #foreach($issuetype in $action.getIssueTypes().entrySet())
                            <option #if($!data.getIssueTypeKey() == $issuetype.key)selected="selected"#end value="$issuetype.key">$issuetype.value</option>
                            #end
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="statuses"><strong>$i18n.getText("ru.andreymarkelov.templator.admin.statuses"):</strong></label></td>
                    <td>
                        <select id="statuses" name="statuses" multiple="multiple">
                            #foreach($status in $action.getStatuses().entrySet())
                            <option #if($!action.getData().getStatuses().contains($status.key))selected="selected"#end value="$status.key">$status.value</option>
                            #end
                        </select>
                    </td>
                </tr>
                    <td><label for="filename"><strong>$i18n.getText("ru.andreymarkelov.templator.admin.filename"):</strong></label></td>
                    <td>
                        <input type="text" id="filename" name="filename" value="$!action.getData().getFileName()"/>
                    </td>
                <tr>
                </tr>
                <tr>
                    <td><label for="templatefile"><strong>$i18n.getText("ru.andreymarkelov.templator.admin.template"):</strong></label></td>
                    <td>
                        #if($!data.getId())
                        <input type="hidden" id="hiddenid" name="hiddenid" value="$!data.getId()"/>
                        <input type="hidden" id="hiddenfile" name="hiddenfile" value="$!data.getTemplateName()"/>
                        <a href='$action.getBaseUrl()/plugins/servlet/andreymarkelov/templateloader?id=$data.getId()'>$i18n.getText("ru.andreymarkelov.templator.admin.download")</a>
                        #end
                        <input type="file" id="templatefile" name="templatefile"/>
                    </td>
                </tr>
            </table>
            <hr/>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="submit" name="add" value="$action.getText("common.words.save")" accesskey="S" title="Press Alt+Shift+S to submit form"/>
                    <a title="Press Alt+Shift+` to cancel" id="assign-issue-cancel" href="$action.getBackLink()" class="aui-button aui-button-link cancel" accesskey="`">$action.getText("common.words.cancel")</a>
                </div>
            </div>
        </form>
    </body>
</html>